   @model ForgotPasswordPageVm

<h2>Şifremi unuttum</h2>

<h1>@TempData["message"]</h1>


<form asp-action="ForgotPassword" asp-controller="Home" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="ForgotPasswordPureVm.Email" class="col-sm-2 control-label">Email adresiniz:</label>
        <div class="col-sm-10">
            <input asp-for="ForgotPasswordPureVm.Email" type="email" class="form-control" placeholder="Email" autofocus>
            <span class="text-danger" asp-validation-for="ForgotPasswordPureVm.Email"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Onayla</button>
            <a class="btn btn-danger" asp-action="SignIn" asp-controller="Home">İptal</a>
        </div>
       
    </div>
</form>


    
       