@model ResetPasswordPageVm

<h2>Şifreyi yenile</h2>


@TempData["message"]


<form asp-action="ResetPassword" asp-controller="Home" method="post">

    <div class="form-group">
        <label asp-for="ResetPasswordPureVm.NewPassword">Yeni şifre</label>
        <input asp-for="ResetPasswordPureVm.NewPassword" type="password" class="form-control" />
        <span asp-validation-for="ResetPasswordPureVm.NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResetPasswordPureVm.ConfirmPassword">Yeni şifre tekrar giriniz</label>
        <input asp-for="ResetPasswordPureVm.ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ResetPasswordPureVm.ConfirmPassword" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary"> Şifre Yenile</button>

    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>
</form>