@model EntityAttributeCreatePageVm


<h2> Ürüne Özellik ekleyebilirsiniz </h2>

<h1>
    @TempData["message"]
</h1>


<form asp-action="AttributeProduct" asp-controller="Attribute" method="post" class="p-3 w-75 m-auto">
   
    
   @*  <button class="btn btn-success"><a asp-controller="Product" asp-action="GetProducts"> Ürünlere git  </a></button> *@

    <input type="hidden" asp-for="EntityAttributeCreatePureVm.ProductID" />

   

    <div class="form-group">
        <label>
            <span asp-validation-for="EntityAttributeCreatePureVm.AttributeName" class="text-danger">

            </span>
        </label>
        <input asp-for="EntityAttributeCreatePureVm.AttributeName" class="form-control" placeholder="Özellik ismi giriniz" />
    </div>


    <div class="form-group">
        <label>
            <span asp-validation-for="EntityAttributeCreatePureVm.Value" class="text-danger">

            </span>
        </label>
        <input asp-for="EntityAttributeCreatePureVm.Value" class="form-control" placeholder="Değerini giriniz" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary"> Özellik ekle</button>

    </div>
   
        <a asp-controller="Attribute" asp-action="GetAttributeProduct" asp-route-id="@Model.EntityAttributeCreatePureVm.ProductID" class="btn btn-success">Özellikleri gör</a>
   

</form>